body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dd,ol,dt{
    margin: 0;
    padding:0;
    list-style: none;
    font-family: "微软雅黑";
    font-size: 14px;
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

img,input{
    margin: 0;
    padding:0;
    border:none;
    outline-style: none;
    
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}

.w{
    width: 1200px;
    margin:0 auto;
}

.left{
    float: left;
}
.right{
    float: right;
}